body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../Imagenes/espacio.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #1a1a1a;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.profile__image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 0px;
}

.header__title {
    font-size: 24px;
    color: #d5d2d2;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.2s ease-in-out;
}

.header__title:hover {
    color: #e66bff;
}

.nav__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    padding: 20px;
}

.nav__item {
    margin-left: 30px;
}

.nav__link {
    text-decoration: none;
    color: #bebcbc;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.2s ease-in-out;
}

.nav__link:hover {
    color: #c716c4;
}

.header__title {
    font-size: 24px;
    color: #d5d2d2;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.2s ease-in-out;
}

.video-container {
    display: none;
    text-align: center;
}

h2 {
    color: #0a0a0a;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Press Start 2P', cursive;
}

#galeria {
    text-align: center;
    padding: 20px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
}

#galeria img {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 300px;
    height: 200px;
    object-fit: contain; 
    max-width: 100%;
}

#galeria img:hover {
    transform: scale(1.05);
}
#showVideoBtn {
    display: block;
    margin: 20px auto; 
    padding: 10px 20px;
    background-color: #e1e1e1;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    color: #0a0a0a;
}


#showVideoBtn:hover {
    background-color: #b42323;
}



.section-about {
    padding: 100px 0;
    background-image: url("../Imagenes/espacio.jpg");
    background-size: cover; 
    background-attachment: fixed; 
}

.section__title {
    font-size: 36px;
    text-align: center;
    color: #d4e703;
    
}

.about-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.about-card {
    background: #fff;
    color: #333;
    width: 30%;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.about-card img {
    width: 60px;
    height: 60px;
}

.about-card h3 {
    margin-top: 20px;
}

.about-card p {
    color: #666;
    line-height: 1.5;
}

.boton-descarga {
    display: inline-block;
    padding: 20px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    display: block;
    margin-top: 40px;
}

a{
    text-align: center;
}

.boton-descarga:hover {
    background-color: #0062cc;
}

.section-about {
    padding: 100px 0;
    background-color: #fff;
}

.footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 60px 0;
}

.footer img {
    width: 300px;
    height: auto;
}

.footer__grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__item {
    flex-basis: calc(50% - 20px);
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .footer__item {
        flex-basis: calc(33.33% - 20px);
    }
}

.footer__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__list li {
    margin-bottom: 10px;
}

.footer__list li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.footer__list li a:hover {
    color: #c7c7c7;
}

.footer__description {
    margin-bottom: 20px;
}

.footer__separator {
    border: 1px solid #fff;
    margin: 20px 0;
}

.footer__rights {
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .about-card {
        width: 100%;
    }

    .header__title {
        font-size: 20px;
    }
    .container{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden; /* Evita el desplazamiento horizontal */
    }
    
    .footer {
        width: 100%;
        box-sizing: border-box;  /* Asegura que el padding y el borde se incluyan en el ancho total */
    }
    
    .nav__list {
        flex-direction: column;
        padding: 10px;
    }

    .nav__item {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .header__title {
        font-size: 18px;
    }

    .about-card {
        width: 100%;
    }

    .container{
        width: 100%;
    }

    .video-container {
        width: 100%;
        overflow: hidden;
        position: relative;
        padding-bottom: 56.25%;
    }
    
    
    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
}